<div class="button-wrapper">
    <button class="btn question-btn" id ="question-btn" type="button" aria-label="next-page">still smiling? click for the next page!</button>
</div>
<div class="button-wrapper">
    <button class="btn sticky-btn hidden" id="sticky-btn" type="button" aria-label="next-page">still smiling? click for the next
        page!</button>
</div>
<div class="button-wrapper">
    <button class="btn plane-btn hidden" id="plane-btn" type="button" aria-label="next-page">still smiling? click for the next
        page!</button>
</div>