<container class="button-container">
<div class="button-wrapper question-js question-btn">
    <button class="btn" id ="question-btn-js" type="button" aria-label="next-page"><b>questions</button>
</div>
<div class="button-wrapper sticky-js sticky-btn hidden">
    <button class="btn" id="sticky-btn-js" type="button" aria-label="next-page">smiling?</button>
</div>
<div class="button-wrapper plane-js  plane-btn hidden">
    <button class="btn" id="plane-btn-js" type="button" aria-label="next-page">another go?</button>
</div>
</container>