<section id="question-js" class="paper hidden">
<div class="paper-shadow">
    <p class="paper-content"><b>1. What's the URL of your website? If you don't have one, why not?</b>
        My thoughts are to patiently gather all the skills required to build both a beautiful and functional website. I want my website to showcase all of the skills I am working to master in my Fullstack Web Developer Course through <a class="goit-link">https://goit.global/us/courses/fullstack/</a>. 
        Working with a designer or completing a short course on a design platform (like Figma) is in the cards as well. I am prepared to do it right, even if it takes more time. Here is a link to my GitHub profile in the meantime <a class="github-link">https://github.com/StefieCaff</a>. 
        What do you think about my thoughts?
    </p>
    <p class="paper-content"><b>2. List any published apps that you have.</b>
        <ul>
            <li>
                <p>React</p>
                <a> https://stefiecaff.github.io/goit-react-hw-01-components/</a>
                <a>https://github.com/StefieCaff/goit-react-hw-01-components</a>
                <p>Building my first components!</p>
            </li>
            <li>
                <p>Javascript</p>
                <a>https://stefiecaff.github.io/filmoteka/</a>
                <a>https://github.com/StefieCaff/filmoteka</a>
                <p>Final Project for Javascript block. Myself and one other developer are building this app. 
                    It is almost complete, there is a bug fix with the local storage pagination that I am tracking down to squash!</p>
            </li>
            <li>
                <a>https://stefiecaff.github.io/goit-js-hw-11-cpy/</a>
                <a>https://github.com/StefieCaff/goit-js-hw-11-cpy</a>
                <p>API Image search project with load more and page up features</p>
            </li>
            <li>
                <a>https://stefiecaff.github.io/goit-js-hw-10/</a>
                <a>https://github.com/StefieCaff/goit-js-hw-10</a>
                <p>API country search project</p>
            </li>
            <li>
                <p>HTML/Css</p>
                <a>https://stefiecaff.github.io/icecream-dream-team/</a>
                <a>https://github.com/StefieCaff/icecream-dream-team</a>
                <p>Final Project for HTML and Css block. Minimal Javascript</p>
                <p></p>
            </li>
            <li>
                <a>https://stefiecaff.github.io/goit-markup-hw-08/</a>
                <a>https://github.com/StefieCaff/goit-markup-hw-08</a>
                <p>My first GoIT project. HTML/Css course work final webpage. Minimal Javascript</p>
                <p></p>
            </li>
    </ul>
    </p>
    
    <p class="paper-content"><b>3. What's your coding history? When did you start, and what have you done between then and now?</b>
    
    </p>
    <p class="paper-content"><b>4. What do you want to do with the rest of your life, and how is Expensify a step toward your long-term goals?</b>
    
    </p>
    <p class="paper-content"><b>5. How did you hear about us?</b>
    
    </p>
</div>

</section>
