<section id="question-js" class="paper hidden">
<div class="paper-shadow">
    <h1>Expensify Job Application Questions</h1>
    
    <p class="paper-content content intro">Hi! I'd like to briefly introduce myself. My name is Stefanie Caffarel but I go by Stefie or Stef. My pronouns are she/her.
        I am a yoga and indoor rock climbing instructor by passion, a 'super taster' as my niece used to call me, a lover of awkward silences, deep dives, nerd alert exchanges
        my doggie Duma, and long run-on sentences. You'll find me in a comfy chair with my lap desk and a steamy coffee, riding my bike with my buddies, cooking something saucy, playing' in the garden, or
        perhaps sitting in silence. Does any of that sound too good to be true?
        Does Expensify 'sound to good to be true?' Yeah, it surely does! Reading through the Expensify website, I felt that I have found my place.
        For the last eight months, I have been enrolled in a fully remote Full Stack Web Development course. That said, I don't just want to land a job in tech.
        I want to be by your side, saving the world! Thank you for your time consideration and energy, I know I am green. I will do everything in my power not to disappoint you!
    </p>

    <p class="paper-content content">
        <b class="question">1. What is your expected graduation date?</b>
    </p>
        <p class="paper-content content">I will graduate July, 1 2023.
    </p>
    <p class="paper-content content">
        <b class="question">2. Can you commit to a 6 month full time internship?</b>
    </p>
        <p class="paper-content content">Consider me  committed.
    </p>

    <p class="paper-content content">
        <b class="question">3. What's the URL of your website? If you don't have one, why not?</b></p>
    <p class="paper-content content">To be succinct, in the past I didn't see a need for one. Now, I do! And I want to build my own. Phase one is in full 
        swing: purpose, planning, and information gathering. I am aiming to begin phase two next month. For my wire-frame I will explore Figma's free online platform to give shape to my ideas.
    </p>

    <p class="paper-content content">
        In question two I'll list final projects and assignments that are fun to check out. The first link is the live page, the second link is the source.
        All of my current repositories can be viewed at the link to my repository tab down below in the reference section.
    </p>   
    
    <p class="paper-content content">
        <b class="question">4. List any published apps that you have.</b>
        <ul class="list paper-content content" aria-label="Git sites:">
            <p class="block">HTML/CSS Block</p>
            <li class="item">
                <p class="item-description">Group project. Worked with two other student developers. Jane the bavarian dairy farmer, loves to share her delicious icecream recipes... and the people want more!</p>
                <a class="questions-link" href="https://stefiecaff.github.io/icecream-dream-team/">Icecream</a>
                <a class="questions-link" href="https://github.com/StefieCaff/icecream-dream-team">Icecream src</a>
            </li>
            <li class="item">
                <p class="item-description">My first GoIT project. HTML/CSS course work becomes a final website. The first section of the course focused on the foundations. Over 8 weeks we built from markup and reworked this site, practicing mobile first strategy, responsive images, flexbox and so much more.</p>
                <a class="questions-link" href="https://stefiecaff.github.io/goit-markup-hw-08/">Web Studios</a>
                <a class="questions-link" href="https://github.com/StefieCaff/goit-markup-hw-08">Web Studios src</a>
            </li>
            <p class="block">Java Script Block</p>
            <li class="item">
                <p class="item-description">Group project. Developed from markup with one other developer building this TMDB movie search app. 
                    caveat: Filmoteka is almost complete, there is a bug fix with the local storage pagination that I am tracking down to squash! 
                    This caveat is most likely moot at this point, but just in case.
                </p>
                <a class="questions-link" href="https://stefiecaff.github.io/filmoteka/">Filmoteka</a>
                <a class="questions-link" href="https://github.com/StefieCaff/filmoteka">Filmoteka src</a>
            </li>
            <li class="item">
                <p class="item-description">API Image search project with pagination via load more technique and page up scroll features</p>
                <a class="questions-link" href="https://stefiecaff.github.io/goit-js-hw-11-cpy/">Pixabay Image Search</a>
                <a class="questions-link" href="https://github.com/StefieCaff/goit-js-hw-11-cpy">Pixabay Image Search src</a>
            </li>
            <li class="item">
                <p class="item-description">API country search project</p>
                <a class="questions-link" href="https://stefiecaff.github.io/goit-js-hw-10/">Rest Countries Search</a>
                <a class="questions-link" href="https://github.com/StefieCaff/goit-js-hw-10">Rest Countries Search src</a>
            </li>
            <p class="block">React Block</p>
            <li class="item">    
                <p class="item-description">We are about 4 weeks into the React Block. I built my first components and a foundation for a Feedback Widget. I look forward to finishing my other tasks in the weeks to come.</p>
                <a class="questions-link" href="https://stefiecaff.github.io/goit-react-hw-01-components/">Components</a>
                <a class="questions-link" href="https://github.com/StefieCaff/goit-react-hw-01-components">Components src</a>
                <a class="questions-link" href="https://stefiecaff.github.io/goit-react-hw-02-feedback/">Feedback Widget</a>
                <a class="questions-link" href="https://github.com/StefieCaff/goit-react-hw-02-feedback">Feedback Widget src</a>
            </li>
        </ul>
    </p>
    
    <p class="paper-content content">
        <b class="question">5. What's your coding history? When did you start, and what have you done between then and now?</b>
    </p>
    <p class="paper-content content">It was a warm and brightening Tuesday two years ago. I wanted to do what I was doing but bigger and better. I wanted to offer more; hold more space for my community. 
        I needed a career that would support big growth. I had been interested in the tech industry since a bestie had done a bootcamp ten years ago, but was studying yoga, and climbing instead. When I spoke with friends 
        who were either studying to be or were tech professionals I got even more excited. This was it. I bought a refurbished mac lap top with my tax return.
        I started practicing. Several learn to code apps joined my app library, I found Swift Playgrounds which turned out to be my favorite, and of course freecodecamp.org. 
        I spent 1-3 hours a day trying to "uncode" the code. It continued to stick, so I made a plan. 
    <p class="paper-content content">
        Spending some time in contemplation, I qualified some things. I have always loved to build what others see and interact with directly. 
        I get down on intricate but subtle detail. I often choose my phone more over my computer. I leaned toward mobile app development, the visually creative side of UX, 
        and the small yet oh so significant details of UI. Again, I found wanted more. I wanted to go a level deeper, underneath those principals to what I saw as how a coder communicates those 
        principals within the bigger system. Fullstack stack seemed like it would hit all the bullets. I want to nerd out on the fine details and set everything in place.
    </p>
    <p class="paper-content content">
        For me a coding bootcamp or a private tech program was the way to go. In June 2022, GoIt showed up in my instagram feed. The program was extensive, it was affordable, and they showed up.
        August 2022, my formal learning journey began. I spent the first four months working and studying. It became clear that I wanted to spend more time
        and give more focus to my studies. I wanted to learn, and I wanted results fast. I asked for help, and received some financial support from a family member. I  
        took time off work and put more hours into my course. Taking one more step I packed my truck and left my home in Tucson, Az. My pup and I 
        journeyed up to Washington State where my brother and sister-in-law live. Taking some constructive space from the other parts of my life greatly aided my focus. 
        The quality time with my brother and sister-in-law further supported my growth. Here we are, all caught up. I am practicing React.js, looking ahead to Node.Js and the completion of my course in a couple months. 
    </p>
    </p>
    <p class="paper-content content">
        <b class="question">6. What do you want to do with the rest of your life, and how is Expensify a step toward your long-term goals?</b>
        <p class="paper-content content">My goal in life is to live learn and grow in the vein of adding as much love and support to the growth of as many other lives as possible in whatever way being myself allows. 
        Up until now I have achieved this in a small capacity in my local community. I would like to do more. Expensify's Philosophy says it all. Live Rich, Have Fun, and Save the World! Ya'll nailed it!
    </p>
    </p>
    
     <p class="paper-content content">What this looks like in my community right away:
        My first big goal is to restore my beautiful 100 + year old adobe. My design and implementation are based on preserving the 
        beauty of local architecture with a focus on sustainability, permaculture, and the local ecosystem of the Sonoran 
        Desert. My vision is to turn Adobe House into a part time residence, most times Artist Residency. I want to provide a beautiful oasis for 
        artists of all expressions to find. A place to build a body of work. I want to hold that space. Moving beyond Adobe House I will work tirelessly to 
        bring water harvesting and other principals of zeroscape permaculture to my entire neighborhood. Trees need to be planted, curbs need to be cut, and 
        buffel grass needs to be pulled! The empty lot with all the dead cars next door will be a walk-in garden with local and edible landscape.
        On a day to day basis, my goals are to further inform my Hatha yoga teaching and offer classes that are sliding scale based- no one is turned away for lack of funds. 
        I want to add a scholarship program for BellaRock and BellaLead, two women's indoor climbing classes that I teach at my local gym. 
        I want to invest in the sustainable building projects in Southern Arizona my friends and local contractors of Awareness Ranch are building.
        Ha! That is just the beginning, I will write your fingers off by text or talk your ear off over a coffee or a mezcal, anytime!
    </p>
    <p class="paper-content content">
        <b class="question">7. How did you hear about us?</b>
        <p class="paper-content content">An email from Product Hunt popped up in my inbox. I remembered a brief add about expensify from a podcast and opened the posting.</p>
    
    </p>
    <p class="paper-content content">
        <h3>References</h3>
      <ul class="list paper-content content">
        <li class="item">
            <a class="questions-link" href="mailto:v.stevens@goit.global">Val Stevens my GoIT mentor</a>
        </li>
        <li class="item">
            <a class="questions-link" href="mailto:.a.saikia@goit.global">Eren my GoIT instructor</a>
        </li>
        <li class="item">
            <a class="questions-link" href="mailto:a.masliukovska@goit.global">Anastasia GoIT client happiness manager</a>
        </li>
        <li class="item">
            <a class="questions-link" href="https://github.com/StefieCaff?tab=repositories/">Stefie's GITHUB</a>
        </li>
        <li class="item">
            <a class="questions-link" href="https://goit.global/us">GoIT homepage</a>
        </li>
        <li class="item">
            <a class="questions-link" href="https://awarenessranch.com">Awareness Ranch</a>
        </li>
        <li class="item">
            <p class="content">I am happy to supply employment references, let me know.</p>
        </li>
      </ul>
    </p>
    <p class="paper-content content">
        <h3>Lazy works cited</h3>
        <ul class="list paper-content content bottom">
          <li class="item">
            <a class="questions-link" href="https://codepen.io/mlms13/pen/ngbMxq">Paper</a>
          </li>
          <li class="item"><a class="questions-link" href="https://gist.github.com/postmodernpast/2fbac5b92470a947b5d5ae9d2163307b">Paper Airplane</a>
          </li>
          <li class="item"><a class="questions-link" href="https://dev.to/thormeier/fully-responsive-html-css-sticky-note-4okl">Sticky-note</a>
          </li>
          <li class="item"><a class="questions-link" href="https://codepen.io/pirrera/pen/bqVeGx">Button-styling</a>
          </li>
          <li class="item">The Parcel Template is GoIt's Javascript project template.</a>
          </li>
        </ul>
    </p>
</div>

</section>
