<section id="question-js" class="paper hidden">
<div class="paper-shadow">
    <!-- <div class="bg-stripes">
    <h1>Expensify Job Application Questions</h1>
    </div>
    <div>
      <p class="paper-content content intro"></p>
    </div>
<div class="bg-stripes"> -->
    <!-- <p class="paper-content content">
        <b class="question">1.</b>
    </p>
        <p class="paper-content content">
    </p>
</div>
    <div>
      <p class="paper-content content">
        <b class="question"></b>
      </p>
      <p class="paper-content content"></p>
    </div> -->
<!-- <div class="bg-stripes"> -->
    <!-- <p class="paper-content content">
        <b class="question"></b></p>
    <p class="paper-content content"></p>
    <p class="paper-content content"></p>
</div>   
    <div> -->
    <div class="bg-stripes">
    <p class="paper-content content">
        <b class="question">Coding projects.</b>
        <ul class="list paper-content content" aria-label="Git sites:">
            <p class="block">HTML/CSS Block</p>
            <li class="item">
                <p class="item-description">Group project. Worked with two other student developers. Jane the bavarian dairy farmer, loves to share her delicious icecream recipes... and the people want more!</p>
                <a class="questions-link" href="https://stefiecaff.github.io/icecream-dream-team/">Icecream</a>
                <a class="questions-link" href="https://github.com/StefieCaff/icecream-dream-team">Icecream src</a>
            </li>
            <li class="item">
                <p class="item-description">My first GoIT project. HTML/CSS course work becomes a final website. The first section of the course focused on the foundations. Over 8 weeks we built from markup and reworked this site, practicing mobile first strategy, responsive images, flexbox and so much more.</p>
                <a class="questions-link" href="https://stefiecaff.github.io/goit-markup-hw-08/">Web Studios</a>
                <a class="questions-link" href="https://github.com/StefieCaff/goit-markup-hw-08">Web Studios src</a>
            </li>
            <p class="block">Java Script Block</p>
            <li class="item">
                <p class="item-description">Group project. Developed TMDB Api based movie search app.</p>
                <a class="questions-link" href="https://stefiecaff.github.io/filmoteka/">Filmoteka</a>
                <a class="questions-link" href="https://github.com/StefieCaff/filmoteka">Filmoteka src</a>
            </li>
            <li class="item">
                <p class="item-description">API Image search project with pagination via load more technique and page up scroll features</p>
                <a class="questions-link" href="https://stefiecaff.github.io/goit-js-hw-11-cpy/">Pixabay Image Search</a>
                <a class="questions-link" href="https://github.com/StefieCaff/goit-js-hw-11-cpy">Pixabay Image Search src</a>
            </li>
            <li class="item">
                <p class="item-description">API country search project</p>
                <a class="questions-link" href="https://stefiecaff.github.io/goit-js-hw-10/">Rest Countries Search</a>
                <a class="questions-link" href="https://github.com/StefieCaff/goit-js-hw-10">Rest Countries Search src</a>
            </li>
            <p class="block">React Block</p>
            <li class="item">    
                <p class="item-description">We are about 4 weeks into the React Block. I built my first components and a foundation for a Feedback Widget. I look forward to finishing my other tasks in the weeks to come.</p>
                <a class="questions-link" href="https://stefiecaff.github.io/goit-react-hw-01-components/">Components</a>
                <a class="questions-link" href="https://github.com/StefieCaff/goit-react-hw-01-components">Components src</a>
                <a class="questions-link" href="https://stefiecaff.github.io/goit-react-hw-02-feedback/">Feedback Widget</a>
                <a class="questions-link" href="https://github.com/StefieCaff/goit-react-hw-02-feedback">Feedback Widget src</a>
            </li>
        </ul>
        </p>
    </div>
    <div class="bg-stripes">
    <!-- <p class="paper-content content">
        <b class="question"></p>
    <p class="paper-content content">
        <p class="paper-content content"></p>
        <p class="paper-content content"></p>
    </p> -->
</div>
<!-- <div>
    <p class="paper-content content">
        <b class="question">
        <p class="paper-content content"></p>
    </p>
    
     <p class="paper-content content"></p>
</div>
<div>
    <p class="paper-content content">
        <b class="question"></b>
        <p class="paper-content content"></p>
    </p>
</div> -->
<div class="bg-stripes">
    <p class="paper-content content">
        <h3>References</h3>
      <ul class="list paper-content content">
        <li class="item">
            <a class="questions-link" href="mailto:v.stevens@goit.global">GoIT mentor</a>
        </li>
        <li class="item">
            <a class="questions-link" href="mailto:.a.saikia@goit.global">GoIT instructor</a>
        </li>
        <li class="item">
            <a class="questions-link" href="mailto:a.masliukovska@goit.global">GoIT client manager</a>
        </li>
        <li class="item">
            <a class="questions-link" href="https://github.com/StefieCaff?tab=repositories/">Stefie's GITHUB</a>
        </li>
        <li class="item">
            <a class="questions-link" href="https://goit.global/us">GoIT homepage</a>
        </li>
        <li class="item">
            <p class="content">I am happy to supply employment references.</p>
        </li>
      </ul>
    </p>
</div>
    <p class="paper-content content">
        <h3>Lazy works cited</h3>
        <ul class="list paper-content content bottom">
          <li class="item">
            <a class="questions-link" href="https://codepen.io/mlms13/pen/ngbMxq">Paper</a>
          </li>
          <li class="item"><a class="questions-link" href="https://gist.github.com/postmodernpast/2fbac5b92470a947b5d5ae9d2163307b">Paper Airplane</a>
          </li>
          <li class="item"><a class="questions-link" href="https://dev.to/thormeier/fully-responsive-html-css-sticky-note-4okl">Sticky-note</a>
          </li>
          <li class="item"><a class="questions-link" href="https://codepen.io/pirrera/pen/bqVeGx">Button-styling</a>
          </li>
          <li class="item">The Parcel Template is GoIt's Javascript project template.</a>
          </li>
        </ul>
    </p>
</div>

</section>
