.fold-middle {
    perspective: 700px;

    .slice {
        width: 100%;
        height: $fold-part-height;
        position: relative;
        transform-style: preserve-3d;
        background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/175711/chicken.jpg");
        transition: all $transition-time;
    }

    &:hover .one {
        transform: rotateX(-45deg);
    }

    &:hover .two,
    &:hover .four {
        transform: translateY($fold-part-height) rotateX(90deg);
    }

    &:hover .three {
        transform: translateY($fold-part-height) rotateX(-90deg);
    }

    &:hover .overlay::after {
        opacity: 1;
    }
}

.slice.one {
    transform-origin: bottom;
}

$slices: two, three, four;
$i: 1;

@each $slice in $slices {
    .slice.#{$slice} {
        background-position-x: 0;
        background-position-y: -($fold-part-height * $i);
        transform: translateY($fold-part-height);
        transform-origin: top;
    }

    $i : $i +1;
}

.overlay::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(50, 50, 50, 0.4);
    opacity: 0;
    transition: all $transition-time;
}